.project {
  margin: 6rem 0;
}

.project h2 {
  margin: 0 auto 4rem;
  font-size: 2rem;
  text-align: center;
}

.cards {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  max-width: 25rem;
  width: 100%;
  height: 100%;
  background-color: #222;
  display: grid;
  grid-template-rows: auto 1fr;
}

.card-image {
  height: 12rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  filter: grayscale();
  transition: 0.3s;
}

.card:hover .card-image img {
  filter: none;
}

.card-description {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.project-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}

.project-technologies > div {
  width: 2rem;
}

.project-technologies img {
  width: 100%;
  filter: grayscale();
  transition: 0.3s;
}

.card:hover .project-technologies img {
  filter: none;
}

.project-description {
  color: #aaa;
  margin-bottom: 2rem;
  line-height: 1.4;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-self: end;
}

.project-links button {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.project-links button:hover {
  background-color: #2f2f2f;
  cursor: pointer;
}

@media screen and (max-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 40rem;
  }
  .card-image img {
    filter: none;
  }
  .project-technologies img {
    filter: none;
  }
}

@media screen and (max-width: 48rem) {
  .project {
    margin: 4rem 0;
  }
  .project h2 {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
