.skills {
  background-color: #222;
  padding: 6rem 0;
  text-align: center;
}

.skills h2 {
  margin: 0 auto 3rem;
  font-size: 2rem;
}

.skillswrapper {
  max-width: 60rem;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons {
  padding: 0 1rem;
}

.icon {
  width: 4rem;
}

.icon > img {
  width: 100%;
  filter: grayscale();
  transition: all 0.5s;
}

.icon > img:hover {
  filter: none;
}

.protip {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.6;
  margin: 0 auto;
}

.protip > span > span {
  width: 1rem;
}
.protip img {
  width: inherit;
}

@media screen and (max-width: 64rem) {
  .skillswrapper {
    max-width: 35rem;
  }
  .protip {
    max-width: 48rem;
  }
  .icon > img {
    filter: none;
  }
}

@media screen and (max-width: 48rem) {
  .protip {
    max-width: 40rem;
  }
  .skillswrapper {
    row-gap: 1rem;
  }
  .skills {
    padding: 4rem 0;
  }
  .skills h2 {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
  .icon > img {
    width: 3rem;
  }
}

@media screen and (max-width: 35rem) {
  .protip {
    font-size: 0.875rem;
    max-width: 40rem;
  }
  .protip > span > span {
    width: 0.875rem;
  }
  .skillswrapper {
    max-width: 20rem;
    row-gap: 0.625rem;
    margin-bottom: 1.5rem;
  }
  .skills h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .icon {
    width: 2rem;
  }
  .icon > img {
    width: 2.5rem;
  }
}
