.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-full {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 0.1s;
}

.navbar-active {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.toggle {
  width: 1.5rem;
  cursor: pointer;
}

.toggle img {
  width: 100%;
}

.open,
.close {
  display: none;
}

.items > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  height: 1.25rem;
}

.logo img {
  height: 100%;
}

.items > ul > li > a,
.logo a {
  text-decoration: none;
  color: #aaa;
  transition: all 0.2s;
  font-size: 0.875rem;
}

.items > ul > li > a:hover,
.logo a:hover {
  color: #ddd;
}

@media screen and (max-width: 48rem) {
  .open,
  .close {
    display: none;
  }
  .openmenu {
    display: block;
  }
  .closemenu {
    display: block;
  }
  .items > ul {
    position: absolute;

    opacity: 0;
    transform: translateX(20rem);
    height: 100vh;

    top: 3.5rem;
    right: 0rem;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    text-align: center;

    padding: 0 4rem 4rem;

    gap: 1.5rem;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    transition: ease-out 0.3s;
  }
  .items ul > li > a {
    color: #ccc;
  }
  .items > ul > li > a:hover {
    color: #fff;
  }
  .items .menu {
    opacity: 1;
    transform: translateX(0);
  }
}
