.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 20rem;
  overflow: hidden;
  margin: 0rem auto 2rem;
}

.avatar > img {
  height: 100%;
  filter: grayscale() brightness(90%);
}

@media screen and (max-width: 48rem) {
  .avatar {
    width: 7rem;
    height: 7rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 35rem) {
  .avatar {
    width: 6rem;
    height: 6rem;
  }
}
