.hero {
  margin: 8rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 20rem;
  overflow: hidden;
  margin: 0rem auto 3rem;
}

.avatar > img {
  height: 100%;
}

.info {
  text-align: center;
}

.info > h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.info > h2 {
  font-size: 2.5rem;
}

.hero button {
  padding: 0.875rem 3.5rem;
  border: none;
  border-radius: 0;
  display: block;
  margin: 3rem auto 0;
  background-color: #222;
}

.hero button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

.arrow {
  margin-left: 0.4rem;
  animation: all 0.2s;
}
