.hero {
  margin: 8rem auto;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 20rem;
  overflow: hidden;
  margin: 0rem auto 2.5rem;
}

.avatar > img {
  height: 100%;
}

.info {
  text-align: center;
}

.info > h1 {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.info > h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.hero a {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.hero button {
  padding: 0.875rem 3.5rem;
  border: none;
  border-radius: 0;
  background-color: #222;
}

.hero button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

.arrow {
  margin-left: 0.4rem;
  animation: 0.2s;
}

@media screen and (max-width: 48rem) {
  .hero {
    margin: 6rem auto;
  }
  .avatar {
    margin-bottom: 2rem;
  }
  .info h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero button {
    padding: 0.875rem 3rem;
  }
}

@media screen and (max-width: 35rem) {
  .hero {
    margin: 12rem 0;
  }
  .avatar {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
  }
  .info h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .hero button {
    padding: 0.625rem 2rem;
    border: none;
    border-radius: 0;
    background-color: #222;
  }
}
