.navbar {
  height: 3.5rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.items > ul > li > a {
  text-decoration: none;
  color: #aaa;
}

.items > ul > li > a:hover {
  color: lightblue;
}
