.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  height: 1.4rem;
}

.logo img {
  height: 100%;
}

.items > ul > li > a,
.logo a {
  text-decoration: none;
  color: #aaa;
  transition: all 0.2s;
}

.items > ul > li > a:hover,
.logo a:hover {
  color: #ddd;
}
