.contact {
  background-color: #222;
  padding: 6rem 0;
  text-align: center;
}

.contact h2 {
  margin: 0 auto 4rem;
  font-size: 2rem;
  text-align: center;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 48rem;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  width: 100%;
}

.subject,
.message {
  grid-column: 1/-1;
}

.contact input,
.contact textarea {
  border: 0;
  outline: 0;
  padding: 1rem;
  background-color: #333;
}

.contact input:focus,
.contact textarea:focus {
  background-color: #2f2f2f;
}

.contact textarea {
  resize: none;
}

.contact button {
  border: 0;
  width: min-content;
  padding: 0.875rem 3.5rem;
  border: 0;
  background-color: #333;
  grid-column: 1/-1;
  margin-left: auto;
}

.contact button:hover {
  background-color: #2f2f2f;
  cursor: pointer;
}

@media screen and (max-width: 64rem) {
  .contact form {
    max-width: 40rem;
  }
}

@media screen and (max-width: 48rem) {
  .contact {
    padding: 4rem 0;
  }
  .contact h2 {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
  .contact form {
    max-width: 20rem;
    grid-template-columns: 1fr;
    gap: 0.875rem;
  }
  .contact form button {
    width: 100%;
    margin: 0 auto;
  }
  .contact input,
  .contact textarea {
    padding: 0.875rem 1rem;
  }
}
