.notification {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  width: 100%;
  padding: 4rem 0;
  backdrop-filter: blur(32px);
}

.sending {
  background-color: rgba(0, 0, 0, 0.5);
}

.faild {
  background-color: rgba(255, 0, 0, 0.5);
}

.success {
  background-color: rgba(0, 255, 0, 0.5);
}

.status {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.message {
  font-size: 1.125rem;
}

@media screen and (max-width: 35rem) {
  .notification {
    width: 20rem;
  }
}
