:root {
  font-family: "montserrat", Inter, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

button {
  font-family: inherit;
  transition: 0.3s;
}

a {
  text-decoration: none;
}
